body {
    background-color: #ffffff;
background-image: url("https://www.transparenttextures.com/patterns/black-linen.png");
}

h1 {
    color: ghostwhite;
    text-align: center;
    padding: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h2 {
    color: darkolivegreen;
    text-align: center;
    padding: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
