body {
    background-color: #ffffff;
background-image: url("https://www.transparenttextures.com/patterns/black-linen.png");
}

h1 {
    color: ghostwhite;
    text-align: center;
    padding: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h2 {
    color: darkolivegreen;
    text-align: center;
    padding: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h3 {
    color: whitesmoke;
    text-align: center;
    padding: 15px 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color:yellowgreen;
    text-decoration: none;
    display: inline-block;

}